name: main_panda
on: 
    push:
        branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Build (if needed)
        run: |
          cd client
          npm run build || echo "no build step"